
<style>
    #advert{
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: url("../Images/adver/p1-bj.jpg");
        background-repeat:no-repeat;
        background-size:100% 100%;
        -webkit-background-origin:content-box; /* Safari */
        background-origin:content-box;
    }
    #advert .p_ms{
        animation: p_ms_act  3s steps(1) 2s infinite alternate;
          background: url("../Images/adver/p1-ms1.png");
           background-repeat: no-repeat;
         width: 321px;
         height: 525px;
         background-size: 100% 100%;
    }

    @keyframes p_ms_act {
        0%{
            background: url("../Images/adver/p1-ms4.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        15%{
            background: url("../Images/adver/p1-ms2.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        25%{
            background: url("../Images/adver/p1-ms3.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        30%{
            background: url("../Images/adver/p1-ms4.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        40%{
            background: url("../Images/adver/p1-ms5.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        60%{
            background: url("../Images/adver/p1-ms6.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        80%{
            background: url("../Images/adver/p1-ms7.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }
        100%{
            background: url("../Images/adver/p1-ms8.png");
            background-repeat: no-repeat;
            width: 321px;
            height: 525px;
            background-size: 100% 100%;
        }

    }

    #advert .next_p{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -112px;
        position: relative;
    }
    #advert .next_p img{
       width: 139px;
    }
</style>
    <ion-view>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button button-clear ion-ios-undo">
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content scroll="false" id="advert">
            <div class="p_ms"></div>
            <div class="next_p">
                <a href="#/app/qmzg">
                    <img src="../Images/adver/p1_btn.png">
                </a>
            </div>
        </ion-content>
    </ion-view>
