<ion-view id="pic">
    <style>
        #pic .img-con{
            padding: 1px;
            position: relative;
            float: left;
            width: 24.333333%;
            height: 79px;
        }
        #pic .pic_content .img-con{
            margin-right: 2px;
            margin-bottom: 2px;
        }
        #pic .pic_content{
            margin-top: 2px;
            margin-left: 2px;
        }
    </style>
    <ion-nav-bar class="bar-positive" id="vedio">
        <ion-nav-back-button class="button button-clear ion-ios-undo">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div  style="padding: 0px" class="pic_content">
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_000.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_000.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_002.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_002.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_003.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_003.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_004.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_004.jpg) 50% 50% no-repeat; background-size: cover;"></div>

            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_005.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_005.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_006.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_006.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_007.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_007.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_008.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_008.jpg) 50% 50% no-repeat; background-size: cover;"></div>

            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_009.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_009.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_010.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_010.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_011.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_011.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_012.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_012.jpg) 50% 50% no-repeat; background-size: cover;"></div>

            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_013.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_013.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_014.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_014.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_015.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_015.jpg) 50% 50% no-repeat; background-size: cover;"></div>
            <div class="img-con" load-src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_016.jpg" style="background:url(http://zonadeclubs.com/imagenes/Albumes/7041/foto_016.jpg) 50% 50% no-repeat; background-size: cover;"></div>

        </div>
    </ion-content>
    <script src="../Js/pic.js"></script>
</ion-view>