<ion-view>
<div class="bar bar-header bar-positive">
    <button class="button button-clear ion-ios-undo"></button>
    <h1 class="title">bar-positive</h1>
    <button class="button button-clear ion-android-add-circle" ng-click="More()"></button>
</div>
<div id="more-menu">
    <i class="ion-close-circled close-btn" ng-click="Close()"></i>
    <div class="tabs tabs-top tabs-icon-top">
        <a class="tab-item" href="#">
            <i class="icon ion-home tabs-icon-one"></i>
        </a>
        <a class="tab-item" href="#/app/local">
            <i class="icon ion-ios-navigate tabs-icon-two"></i>
        </a>
        <a class="tab-item" href="#/app/pic">
            <i class="icon ion-image tabs-icon-three"></i>
        </a>
        <a class="tab-item" href="#/app/svg">
            <i class="icon ion-gear-a tabs-icon-four"></i>
        </a>
        <a class="tab-item" href="#/app/vido">
            <i class="icon ion-videocamera tabs-icon-five"></i>
        </a>
    </div>
</div>
<div class="show-back"></div>
</ion-view>