<ion-view id="pic">
    <style>
        #pic .img-con{
            padding: 1px;
            position: relative;
            float: left;
            width: 25%;
            margin-bottom: 2px;
            height: 79px;
        }
    </style>
    <ion-nav-bar class="bar-positive" id="vedio">
        <ion-nav-back-button class="button button-clear ion-ios-undo">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div  style="padding: 0px">
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_000.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_001.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_002.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_003.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_004.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_005.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_006.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_007.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_008.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_009.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_010.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_011.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_012.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_013.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_014.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_015.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_016.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_017.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_018.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_019.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_020.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_021.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_022.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_023.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_024.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_025.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_026.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_027.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_028.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_029.jpg"  style="width: 100%;height: 100%" />
            </div>
            <div class="img-con">
                <img src="http://zonadeclubs.com/imagenes/Albumes/7041/foto_030.jpg"  style="width: 100%;height: 100%" />
            </div>
        </div>
    </ion-content>
</ion-view>